<nav class="bg-primary border-gray-200">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-6 py-4">
      <%= link_to root_path, class: "flex items-center" do %>
        <%= image_tag 'logo-desktop.png', class: 'h-8 mr-3', alt: 'Sonoria Logo' %>
      <% end %>
      <% if user_signed_in? %>
        <div class="flex items-center md:order-2">
          <button type="button" class="flex mr-3 text-sm md:mr-0" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
            <span class="sr-only">Open user menu</span>
            <%= image_tag 'default-user-icon.png', class: 'w-8 h-8 rounded-full', alt: 'user-photo' %>
          </button>
          <!-- Dropdown menu -->
          <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
            <div class="px-4 py-3">
              <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
              <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
            </div>
            <ul class="py-2" aria-labelledby="user-menu-button">
              <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="flex items-center">
        <%= link_to "Se connecter", new_user_session_path, class: 'text-sm p-2 rounded bg-secondary text-white dark:text-white-500'%>
        </div>
      <% end %>
  </div>
</nav>
